.btn{
	.font-primary;
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	font-weight: 600;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	background: @color-link;
	&:hover{
		background: @color-primary;
	}
}