@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic&subset=latin,latin-ext);
@import url('../typicons/typicons.min.css');
.font-primary{
	font-family:'Source Sans Pro',sans-serif;
}
.font-header{
	font-family:'Titillium Web',sans-serif;
}
.font-icon{
	font-family:'typicons';
}
