.container{
	.clearfix;
	width: 920px;
	padding: 0 20px;
	margin: auto;
	text-align: left;
}
#page-header{
	.header-top{
		background: #b8ae97;
		.inner{
			.container;
		}
		.slogan{
			float: left;
			color: #fff;
			font-size: 16px;
			line-height: 1;
			padding: 18px 0 17px 82px;
			p{
				margin: 0;
			}
		}
	}
	.header-main{
		background: #fbf8f2 url(../images/bg/02.jpg) top;
		.inner{
			.container;
			position: relative;
		}
		.logo{
			position: absolute;
			top: -51px;
			left: 0px;
			a{
				display: block;
				font-size: 40px;
				letter-spacing: -1.5px;
				line-height: 1;
				font-weight: 900;
				height: 101px;
				padding: 64px 0 0 101px;
				text-decoration: none;
				color: #000;
				background: url(../images/logo/01.png) no-repeat;
				mark{
					background: none;
					color: @color-link;
				}
				small{
					position: relative;
					top: -4px;
					display: block;
					font-size: 24px;
					letter-spacing: -0.8px;
					font-weight: normal;
				}
			}
		}
	}
}
#row_01{
	background: #b8ae97;
	.inner{
		.container;
	}
}
#row_02{
	padding: 63px 0 61px;
	border-bottom: 5px solid #524c3e;
	background: #fbf8f2 url(../images/bg/02.jpg) top;
	.inner{
		.container;
	}
}
#row_03{
	background: #706855;
	.inner{
		.container;
	}
}
#page-footer{
	color: #fff;
	padding: 0 0 50px;
	a{
		color: #fff;
	}
	.inner{
		.container;
		.clearfix;
		.logo{
			.border-radius(41px);
			position: relative;
			top: -35px;
			float: left;
			width: 82px;
			padding: 20px 0 0;
			text-align: center;
			background: #4a4638;
			img{
				display: block;
				margin: auto;
			}
		}
		.xart{
			float: right;
			font-size: 11px;
			text-transform: uppercase;
			padding: 26px 0;
			a{
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			img{
				float: right;
				margin: -2px -4px 0 10px;
			}
			.separator{
				margin: 0 6px;
			}
		}
	}
}
#container{
	padding: 38px 0 60px;
	background: #fbf8f2 url(../images/bg/02.jpg) top;
	.inner{
		.container;
		.clearfix;
	}
}
#col-left{
	float: left;
	width: 220px;
}
#col-main{
	float: right;
	width: 640px;
}
#col-top{
	padding: 32px 0;
	background: #b8ae97;
	.inner{
		.container;
	}
}
#gotop{
	a{
		.border-radius(4px);
		.transition(0.2s);
		position: fixed;
		bottom: -60px;
		right: 20px;
		height: 52px;
		width: 52px;
		text-indent: -9999px;
		line-height: 52px;
		text-align: center;
		background: @color-primary;
		color: #fff;
		-webkit-opacity: 0.4;
		-moz-opacity: 0.4;
		opacity: 0.4;
		filter:alpha(opacity=40);
		&:before{
			.font-icon;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e024';
			font-size: 36px;
		}
		&:hover{
			-webkit-opacity: 0.8;
			-moz-opacity: 0.8;
			opacity: 0.8;
			filter:alpha(opacity=80);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}