.mod_custom-banners-top{
	float: right;
	padding: 15px 20px 7px 10px;
	ul{
		.reset-ul;
		li{
			.reset-li;
			float: left;
			margin: 0 0 0 10px;
		}
	}
}
.mod_menu-main{
	position: relative;
	float: right;
	background: @color-link;
	margin: 0 13px 0 0;
	padding: 0 20px 0 0;
	&:before,&:after{
		position: absolute;
		content: '';
		width: 33px;
		height: 90px;
		top: 0;
		left: -33px;
		background: url(../images/bg/03.png) no-repeat;
	}
	&:after{
		left: auto;
		right: -33px;
		background-position: right top;
	}
	ul{
		.reset-ul;
		li{
			.reset-li;
			float: left;
			margin: 0 0 0 28px;
			a{
				display: block;
				position: relative;
				font-size: 20px;
				line-height: 90px;
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&.act{
				font-weight: 900;
			}
			&.home{
				a{
					text-indent: -9999px;
					&:before{
						.font-icon;
						position: absolute;
						content: '\e089';
						text-indent: 0;
						left: -10px;
						font-size: 20px;
						line-height: 1;
						top: 38px;
						font-weight: normal;
					}
				}

			}
		}
	}
}
.mod_custom-rozcestnik{
	.clearfix;
	padding: 47px 0 45px;
	.item{
		.clearfix;
		float: left;
		width: 440px;
		color: #fff;
		background: #706855;
		figure{
			float: right;
			width: 240px;
			img{
				display: block;
			}
		}
		.content{
			float: left;
			width: 150px;
			padding: 20px 18px 20px 32px;
			font-size: 18px;
			line-height: 1.2;
			h2{
				text-transform: uppercase;
				font-size: 25px;
				font-weight: 900;
				line-height: 1.17;
				margin: 0 0 10px;
			}
		}
		nav{
			.clear;
			position: relative;
			padding: 58px 20px 15px 5px;
			background: #d6ccb2;
			.button{
				position: absolute;
				left: -23px;
				top: -31px;
				a{
					display: block;
					position: relative;
					width: 244px;
					height: 65px;
					line-height: 60px;
					padding: 0 43px 0 0;
					font-size: 23px;
					font-weight: 600;
					color: #fff;
					text-decoration: none;
					text-align: right;
					background: url(../images/btn/01.png) no-repeat;
					&:hover{
						background-position: left bottom;
						&:before{
							font-size: 42px;
						}
					}
					&:before{
						.font-icon;
						position: absolute;
						left: 20px;
						top: 2px;
						width: 60px;
						height: 60px;
						line-height: 60px;
						text-align: center;
						font-size: 48px;
						font-weight: normal;
						content: '\e037';
						-webkit-transition: 0.05s;
						-moz-transition: 0.05s;
						-o-transition: 0.05s;
						transition: 0.05s;
					}
				}
			}
			ul{
				.clearfix;
				.reset-ul;
				li{
					.reset-li;
					float: left;
					font-size: 13px;
					padding: 0 0 0 14px;
					margin: 0 0 8px 30px;
					&:before{
						content: '\e048';
						color: @color-link;
						line-height: 1;
						font-size: 18px;
						top: -1px;
					}
					a{
						border-bottom: 1px dotted @color-primary;
						color: @color-primary;
						text-decoration: none;
						&:hover{
							color: @color-link;
							border-color: @color-link;
						}
					}
				}
			}
		}
		&.right{
			float: right;
			figure{
				float: left;
			}
			.content{
				padding-right: 32px;
				padding-left: 18px;
				text-align: right;
			}
			nav{
				.button{
					left: auto;
					right: -25px;
					a{
						padding: 0 0 0 43px;
						text-align: left;
						background-position: right top;
						&:hover{
							background-position: right bottom;
						}
						&:before{
							left: auto;
							right: 20px;
						}
					}
				}
			}
		}
	}
}
.mod_custom-proc{
	float: left;
	width: 290px;
	font-size: 18px;
	margin: 0 0 30px;
	#col-left &{
		float: none;
		width: auto;
		margin: 0 0 40px;
	}
	.mod-title{
		.font-header;
		color: @color-link;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 22px;
		line-height: 1.2;
		margin: 0;
	}
	figure{
		margin: 0 0 20px;
		a{
			display: block;
			position: relative;
			padding: 5px 0 5px;
			img{
				display: block;
			}
			.str{
				position: absolute;
				content: '';
				height: 195px;
				width: 106px;
				top: -3px;
				left: 91px;
				background: url(../images/bg/01.png) no-repeat;
				-webkit-transition: 0.2s;
				-moz-transition: 0.2s;
				-o-transition: 0.2s;
				transition: 0.2s;
				.in{
					.border-radius(47px);
					.box-shadow(3px 3px 0 rgba(0,0,0,0.2));
					.transition(0.2s);
					position: absolute;
					left: 8px;
					top: 50px;
					width: 94px;
					height: 94px;
					text-align: center;
					background: @color-link;
					.typcn{
						color: #fff;
						line-height: 90px;
						font-size: 40px;
						margin: 0 -4px;
					}
				}
				#col-left &{
					left: 64px;
				}
			}
			&:hover{
				.str{
					.in{
						background: @color-primary;
					}
				}
			}
			.move_left,.move_right{
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 50%;
			}
			.move_right{
				left: 50%;
			}
		}
		&.left{
			.str{
				left: 81px;
			}
		}
		&.right{
			.str{
				left: 101px;
			}
		}
	}
	nav{
		line-height: 1.2;
		font-size: 16px;
		a{
			position: relative;
			display: inline-block;
			margin: 0 0 0 15px;
			text-decoration: none;
			color: @color-primary;
			border-bottom: 1px dotted @color-primary;
			&:hover{
				color: @color-link;
				border-bottom-color: @color-link;
			}
			&:before{
				.font-icon;
				position: absolute;
				top: 1px;
				left: -15px;
				line-height: 1;
				font-size: 18px;
				content: '\e048';
				color: @color-link;
			}
		}
	}
}
.mod_custom-hotovo{
	float: left;
	width: 290px;
	font-size: 18px;
	margin: 0 0 30px 25px;
	.mod-title{
		.font-header;
		color: @color-link;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 22px;
		line-height: 1.2;
		margin: 0;
	}
	ul{
		.reset-ul;
		height: 180px;
		margin: 25px 0;
		background: url(../images/bg/05.png) no-repeat;
		li{
			.reset-li;
			&.item-02{
				margin: -90px 0 0 85px;
			}
			&.item-03{
				margin: -90px 0 0 170px;
			}
			img{
				position: relative;
				display: block;
			}
			a:hover{
				img{
					z-index: 1;
					.box-shadow(0 0 6px rgba(0,0,0,0.5));
				}
			}
		}
	}
	nav{
		line-height: 1.2;
		font-size: 16px;
		a{
			position: relative;
			display: inline-block;
			margin: 0 0 0 15px;
			text-decoration: none;
			color: @color-primary;
			border-bottom: 1px dotted @color-primary;
			&:hover{
				color: @color-link;
				border-bottom-color: @color-link;
			}
			&:before{
				.font-icon;
				position: absolute;
				top: 1px;
				left: -15px;
				line-height: 1;
				font-size: 18px;
				content: '\e048';
				color: @color-link;
			}
		}
	}
}
.mod_newsflash_xart{
	float: left;
	width: 290px;
	font-size: 18px;
	margin: 0 0 30px 25px;
	.arrows{
		float: right;
		margin: -4px 9px -20px 0;
		.separator{
			float: right;
			display: inline-block;
			width: 13px;
			height: 31px;
			margin: 0 2px;
			background: url(../images/bg/07.png) no-repeat;
		}
		.prev,.next{
			float: right;
			line-height: 31px;
			font-size: 28px;
			color: #b8ae97;
			&:hover{
				color: @color-link;
			}
		}
	}
	.mod-title{
		.font-header;
		color: @color-link;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 22px;
		line-height: 1.2;
		margin: 0;
	}
	section{
		width: 100%;
		article{
			position: relative;
			padding: 0 0 0 80px;
			margin: 0 0 20px;
			font-size: 14px;
			time{
				.border-radius(35px);
				.font-header;
				font-weight: 900;
				position: absolute;
				left: 0;
				top: 3px;
				width: 70px;
				height: 70px;
				background: #b8ae97;
				line-height: 70px;
				font-size: 22px;
				color: #fff;
				text-align: center;
				background: url(../images/bg/06.png) no-repeat;
				span{
					display: block;
					float: left;
					width: 50%;
				}
			}
			h2{
				.font-primary;
				font-size: 14px;
				line-height: 1.2;
				margin: 0 0 3px;
				a{
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			p{
				margin: 0;
			}
			a.more{
				display: inline-block;
				position: relative;
				text-indent: -9999px;
				&:before{
					.font-icon;
					position: absolute;
					left: 4px;
					top: 3px;
					content: '\e048';
					text-indent: 0;
					line-height: 1;
					font-size: 16px;
					text-decoration: none;
				}
				&:hover{
					color: @color-primary;
				}
			}
		}
	}
}
.mod_custom-system{
	padding: 0 0 51px;
	.mod-title{
		.font-header;
		font-weight: 900;
		position: relative;
		top: -31px;
		color: #fff;
		font-size: 30px;
		line-height: 1;
		padding: 42px 240px 0 240px;
		margin: 0 0 8px;
		text-transform: uppercase;
		text-align: center;
		background: url(../images/bg/08.png) no-repeat top;
	}
	section{
		.clearfix;
		margin: 0 0 0 -30px;
		article{
			position: relative;
			width: 160px;
			margin: 0 0 30px 30px;
			float: left;
			text-align: center;
			h2{
				.font-primary;
				color: #fff;
				font-size: 15px;
				line-height: 1.2;
				font-weight: 600;
				margin: 0 0 20px;
			}
			figure{
				&:after{
					.font-icon;
					.border-radius(18px);
					.box-shadow(3px 3px 0 rgba(0,0,0,0.3));
					position: absolute;
					content: '\e091';
					left: 50%;
					bottom: -18px;
					height: 36px;
					width: 36px;
					text-align: center;
					line-height: 36px;
					color: #fff;
					font-size: 25px;
					background: @color-primary;
					margin-left: -18px;
					.transition(0.2s);
				}
				&:hover{
					&:after{
						background: @color-link;
					}
				}
				a{
					position: relative;
					display: block;
					color: #fff;
					text-decoration: none;
					overflow: hidden;
				}
				img{
					display: block;
				}
				.content{
					.transition(0.2s);
					position: absolute;
					top: 100%;
					left: 0;
					width: 130px;
					height: 130px;
					padding: 15px;
					font-size: 15px;
					font-weight: 600;
					background: @color-primary;
					background: rgba(0,0,0,0.8);
				}
				&:hover{
					.content{
						top: 0;
					}
				}
			}
		}
	}
}
.mod_menu-footer{
	float: left;
	width: 540px;
	padding: 24px 0 0;
	ul{
		.reset-ul;
		.clearfix;
		li{
			.reset-li;
			float: left;
			white-space: nowrap;
			font-size: 14px;
			line-height: 1.2;
			margin: 0 12px 5px 12px;
			a{
				display: inline-block;
				text-decoration: none;
				color: #fff;
				border-bottom: 1px dotted #fff;
				&:hover{
					border-bottom-color: transparent;
				}
			}
		}
	}
}
.mod_menu-submenu{
	position: relative;
	padding: 25px 0 15px 30px;
	margin: 0 0 40px;
	border-left: 10px solid rgba(184,174,151,0.2);
	&:before,&:after{
		position: absolute;
		content: '';
		width: 10px;
		height: 10px;
		left: 0;
		top: 0;
		background: rgba(184,174,151,0.2);
	}
	&:after{
		top: auto;
		bottom: 0;
	}
	ul{
		.reset-ul;
		li{
			.reset-li;
			padding: 0 0 0 15px;
			margin: 0 0 7px;
			font-size: 16px;
			line-height: 1.2;
			&:before{
				content: '\e048';
				color: @color-link;
				font-size: 18px;
				line-height: 1;
				top: 1px;
				font-weight: normal;
			}
			a{
				color: @color-primary;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
					color: @color-link;
				}
			}
			&.act>a{
				font-weight: bold;
			}
		}
		ul{
			padding: 10px 0;
			li{
				font-size: 14px;
				&:before{
					content: '\e049';
					color: @color-primary;
					font-size: 13px;
					top: 2px;
				}
			}
		}
	}
}
.mod_custom-links{
	ul{
		.reset-ul;
		li{
			.reset-li;
			float: left;
			a{
				display: block;
				height: 74px;
				width: 320px;
				padding: 16px 118px 0 32px;
				margin: 0 -20px 0 0;
				color: #fff;
				text-decoration: none;
				.font-header;
				font-weight: 900;
				font-size: 25px;
				line-height: 1.2;
				text-transform: uppercase;
				background: url(../images/bg/09.png) no-repeat right top;
				&:hover{
					background-position: right bottom;
				}
				&:before{
					.font-icon;
					position: absolute;
					content: '\e037';
					color: #fff;
					line-height: 1;
					top: 23px;
					right: 25px;
					font-size: 48px;
					font-weight: normal;
				}
			}
			&.right{
				a{
					float: right;
					margin: 0;
					text-align: right;
					padding: 16px 32px 0 118px;
					background-position: left top;
					&:hover{
						background-position: left bottom;
					}
					&:before{
						.font-icon;
						right: auto;
						left: 41px;
					}
				}
			}
		}
	}
}